# Variables PÚBLICAS del cliente Next.js (NEXT_PUBLIC_ se exponen al browser)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=vpw-dev.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=vpw-dev
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=vpw-dev.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Usar emuladores de Firebase en desarrollo local
NEXT_PUBLIC_USE_EMULATORS=true

# URL del API (Cloud Functions)
NEXT_PUBLIC_API_BASE_URL=http://localhost:5001/vpw-dev/us-central1
